@model Pokemon
@using PokedexApp.Util

<h1>@Model.Name</h1>

<p>Height: @Model.Height</p>
<p>Weight: @Model.Weight</p>
<p>Base Experience: @Model.BaseExperience</p>
<div class="type-row">
    @foreach (var type in Model.Types)
    {
        <span class="badge"
            style="background-color: @PokeColor.GetTypeColor(@type.pokemonType2.Name);">@type.pokemonType2.Name</span>
    }
</div>