@model List<Pokemon>
@using PokedexApp.Util

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/search-container.css" />
</head>

<body>
    <div class="search-container">
        <input type="text" id="search-bar" name="searchQuery" placeholder="Search for a Pokémon"
            oninput="searchPokemon(this.value)">
    </div>
    <div class="grid-container">
        @foreach (var pokemon in Model)
        {

            <div class="grid-item" style="background-color: @PokeColor.GetTypeColor(@pokemon.Types[0].pokemonType2.Name);">
                <div class="grid-section">
                    <a class="navigation-link" href="@Url.Action("Details", new { id = pokemon.Id })">
                        <h2>@pokemon.Name</h2>
                        <img src="@pokemon.Sprite.FrontDefault" alt="@pokemon.Sprite.FrontShiny">
                        <p>ID: @pokemon.Id</p>
                        <p>Weight: @pokemon.Weight</p>
                        <p>Height: @pokemon.Height</p>
                    </a>
                </div>
            </div>
        }
    </div>
    <script src="~/js/index.js"></script>
</body>
