@model List<Pokemon>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/css/index.css" />
    <link rel="stylesheet" href="~/css/search-container.css" />
</head>

<body>
    <div class="search-container">
        <input type="text" id="search-bar" name="searchQuery" placeholder="Search for a Pokémon..."
            oninput="searchPokemon(this.value)">
    </div>
    <div class="grid-container">
        @foreach (var pokemon in Model)
        {
            <div class="grid-item">
                <a class="navigation-link" href="@Url.Action("Details", new { id = pokemon.id })">
                    <h2>@pokemon.name</h2>
                    <p>ID: @pokemon.id</p>
                    <p>Weight: @pokemon.weight</p>
                    <p>Height: @pokemon.height</p>
                </a>

            </div>
        }
    </div>
    <script src="~/js/index.js"></script>
</body>
